body {
    background: white;
    margin: 0;
    text-align: center;
}

.wrapper::after {
    content: "";
    background-image: url("../img/background.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .07;
    height: 100%;
}

.image {
    display: inline-block;
    height: 275px;
    width: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .9s linear;
}

body:hover .image {
    transform: rotate3d(0, 1, 0, 360deg);
}

.bad {
    background-image: url("../img/1.png");
}

.nice {
    background-image: url("../img/2.png");
}

.perfectly {
    background-image: url("../img/3.png");
}

.red {
    color: #f76251;
    font-size: 30px;
}

.blue {
    color: #39b8d5;
    font-size: 30px;
}

.green {
    color: #3fbea3;
    font-size: 60px;
}

.orange {
    color: #f79003;
    font-size: 30px;
}

p {
    margin-top: -15px;
    margin-bottom: 30px;
}

.button {
    margin: 10px
}

.button {
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: rgb(243, 156, 18);
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 800;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    outline: 0;
    transition: background-color .1s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.button::after {
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: #000;
    opacity: .18;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0
}

.button:focus, .button:hover {
    text-decoration: none;
    color: #fff
}

.button:hover {
    background-color: #f37423
}

.button:hover::after {
    opacity: .22
}

.button:active {
    background-color: #d85b0c
}

.button:active::after {
    opacity: .32
}

textarea {
    width: 90%;
    height: 70vh;
}

summary {
    background-color: #bddac0;
    width: 150px;
    display: inline-block;
    padding: 8px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    margin: 10px 0px;
}

summary:hover {
    background-color: #adc4b1;
}

summary:active {
    background-color: #9db4a1;
    padding: 7px;
    margin: 11px 0px;
}


.orbit-spinner, .orbit-spinner * {
    box-sizing: border-box;
}

.orbit-spinner {
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    perspective: 800px;
}

.spinner {
    display: none;
}

.orbit-spinner .orbit {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
    border-bottom: 3px solid #57caba;
}

.orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
    border-right: 3px solid #57caba;
}

.orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
    border-top: 3px solid #57caba;
}

@keyframes orbit-spinner-orbit-one-animation {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-two-animation {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-three-animation {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}