body {
	background-color: #fff;
}

.tablewrapper {
	position: relative;
}

.divTable{
	display: table;
	font-family: sans-serif;
	text-align: center;
	font-size: 14px;
	border: 4px solid black;
	border-collapse: collapse;
	border-spacing: 0;
}

.divTableRow {
	display: table-row;
	height: 45px;
}

.divTableCell {
	display: table-cell;
	border: 1px solid #a52a2a;
	padding: 4px;
}



table {
	border-collapse: collapse;
	font-family: sans-serif;
	text-align: center;
	font-size: 14px;
}

.table-main {
	background-color: #fff;
	margin: 5%;
	border: 4px solid #000;
	width: 90%;
}

.table-inner {
	width: calc(100% + 2px);
	margin-left: -1px;
}

.table-inner tr:first-child td {
	border-top: none;
}

.table-inner tr:last-child td {
	border-bottom: none;
}

.table-inner tr:nth-child(odd) {
	height: 20px;
}

.col2 {
	width: 9.6%;
}

.col1 {
	width: 4%;
}

tr {
	height: 45px;
}

.rhead {
	height: 20px;
}

.rhead:nth-child(2) {
	height: 25px;
}

td {
	border: 1px solid #000;
}
