@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  //background: white;
  margin: 0;
  text-align: center;
  //background-image: url("../img/background.jpg");
  //background-size: cover;
  //background-attachment: fixed;
  background: -webkit-linear-gradient(left, #b866c5, #25b7c4);
  background: linear-gradient(to right, #b866c5, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas: "header header header" "sidebar-left main sidebar-right" "footer footer footer";

  .header {
    grid-area: header;
    justify-items: center;
  }
  .main {
    grid-area: main;
    justify-items: center;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-columns: minmax(200px, auto);

    div {
      background-color: rgba(228, 228, 228, 0.01);
    }

    h1{
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      margin-bottom: 15px;
    }
    table{
      width:100%;
      table-layout: fixed;
    }
    .tbl-header{
      background-color: rgba(255,255,255,0.3);
      th {
        position: relative;
        i.fa-filter{
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
        }
        i.active{
          color: darkorchid;
        }
        [class^="fa fa-sort"] {
          display: none;
          cursor: pointer;
        }
        span {
          cursor: pointer;
        }
        input[type="text"] {
          border: 1px solid #cccccc; //цвет рамки
          border-radius: 6px; //закругление углов (общее)
          background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
          outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
          height: 24px; // высота на свое усмотрение
          width: 100%; // ширина на свое усмотрение
          color: #19714f; //цвет шрифта в обычном состоянии
          font-size: 13px; // Размер шрифта
          font-family: Roboto, sans-serif; // Стиль шрифта
          padding-left: 6px;
          display: none;
        }
      }
    }
    .tbl-content{
      height:300px;
      overflow-x:auto;
      margin-top: 0px;
      border: 1px solid rgba(255,255,255,0.3);
    }
    th{
      padding: 20px 15px;
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
    }
    td{
      padding: 15px;
      text-align: left;
      vertical-align:middle;
      font-weight: 300;
      font-size: 12px;
      color: #fff;
      border-bottom: solid 1px rgba(255,255,255,0.1);
    }

    section{
      margin: 50px;
      p {
        color: white;
        font-size: 0.8em;
        text-align: left;
        opacity: .8;
      }
    }

    /* for custom scrollbar for webkit browser*/

    ::-webkit-scrollbar {
      width: 6px;
    }
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
  }
  .sidebar-left {
    grid-area: sidebar-left;
  }
  .sidebar-right {
    grid-area: sidebar-right;
  }
  .footer {
    grid-area: footer;
    text-align: center;
  }

  div {
    background-color: rgba(228, 228, 228, 0.25);
  }

  textarea {
    width: 90%;
    height: 70vh;
  }

  summary {
    background-color: #bddac0;
    width: 150px;
    display: inline-block;
    padding: 8px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    margin: 10px 0px;

    &:hover {
      background-color: #adc4b1;
    }

    &:active {
      background-color: #9db4a1;
      padding: 7px;
      margin: 11px 0px;
    }
  }

}

@media (max-width: 768px) {

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas: "header" "main" "footer";
    .main {
      grid-template-columns: minmax(200px, auto);
    }
    .sidebar-right, .sidebar-left {
      display: none;
    }
  }

}

@media (max-width: 480px) {

  .container {
    .main {
      grid-template-columns: minmax(200px, auto);
    }
  }

}
